<span class="betting-modal">
  <div class="modal-header">
    <h4 class="modal-title">Place your bets</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body container">
      <div class="row"> 
            <div class = "col">
            </div>
            <div class = "col" >
              Spread
            </div>
            <div class = "col" >
              Moneyline
            </div>
            <div  class = "col">
              Total
            </div>
        </div>

        <div class = "row">
            <div class="col">
                {{matchUp.awayTeamName}}
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-success">{{matchUp.awayTeamSpread}}</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-success">{{matchUp.awayTeamMoneyLine}}</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-success">{{matchUp.totalO}}</button>
            </div>
        </div>
    <div class = "row">
        <div class="col">
            {{matchUp.homeTeamName}}
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-success">{{matchUp.homeTeamSpread}}</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-success">{{matchUp.homeTeamMoneyLine}}</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-success">{{matchUp.totalU}}</button>
        </div>
    </div>

    <div *ngIf='showPlus'>
        <div class="row" *ngFor = 'let limboBet of limboBets'>
          <div class="col">
              {{limboBet.teamName}}
          </div>
          <div class="col">
              {{limboBet.line}}
          </div>
        </div>
        <div class="row">
            <div class="col">
                
            </div>
            <div class="col">
                <input type="text">
            </div>
            <div class="col">
                <input type="text">
            </div>
            <div class="col">
                
            </div>
        </div>
        
    </div>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="activeModal.close('Close click')">Close</button>
      <button type="button" class="btn btn-outline-primary" (click)="EnterBet()">Enter Bet</button>
  </div>
 
    

</span>