<span class="betting-modal">
  <div class="modal-header background">
    <h4 class="modal-title">{{fullMatchUp}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="parent-container">
  <div class="container left"> <app-recent-games-widget></app-recent-games-widget>
  </div>
  <div class="modal-body container center-cut background">
    <div class="col">
    <div class="row"> 
            <div class = "col">
            </div>
            <div class = "col" >
              {{spread}}
            </div>
            <div class = "col" >
              {{moneyLine}}
            </div>
            <div  class = "col">
              {{total}}
            </div>
        </div>

        <div class = "row">
            <div class="col">{{bettingMatchUp.awayTeamName}} </div>
            <button type="button" value ="{{bettingMatchUp.awayTeamName}}, {{spread}}, {{bettingMatchUp.awayTeamSpread}}"  #betPayLoadButton (click)="toggleBet(betPayLoadButton.value)"   class="btn btn-outline-success col">{{bettingMatchUp.awayTeamSpread}}</button>
            <button type="button" value = " {{bettingMatchUp.awayTeamName}}, {{moneyLine}}, {{bettingMatchUp.awayTeamMoneyLine}}" #bettor (click)="toggleBet(bettor.value)" class="btn btn-outline-success col">{{bettingMatchUp.awayTeamMoneyLine}}</button>
            <button type="button" value = "{{bettingMatchUp.totalO}}, {{total}}, {{bettingMatchUp.awayTeamName}}" #smusher (click)="toggleBet(smusher.value)" class="btn btn-outline-success col">{{bettingMatchUp.totalO}}</button>
        </div>
        <div class = "row">
            <div class="col">{{bettingMatchUp.homeTeamName}} </div>
            <button type="button" value =" {{bettingMatchUp.homeTeamName}}, {{spread}}, {{bettingMatchUp.homeTeamSpread}}"  #hulkSmash (click)="toggleBet(hulkSmash.value)" class="btn btn-outline-success col">{{bettingMatchUp.homeTeamSpread}}</button>
            <button type="button" value =" {{bettingMatchUp.homeTeamName}}, {{moneyLine}}, {{bettingMatchUp.homeTeamMoneyLine}}"  #smushSmush (click)="toggleBet(smushSmush.value)" class="btn btn-outline-success col">{{bettingMatchUp.homeTeamMoneyLine}}</button>
            <button type="button" value ="{{bettingMatchUp.totalU}}, {{total}}, {{bettingMatchUp.homeTeamName}}"  #smasher (click)="toggleBet(smasher.value)" class="btn btn-outline-success col">{{bettingMatchUp.totalU}}</button>
        </div>
      </div>
    <ng-container *ngFor = 'let limboBet of limboBets;let i = index'>
      <div class = "border-for-bets" *ngIf='limboBets' >
          <div class="row top-border">
            <div class="col top-line-bet">
                <div class = "bold">{{limboBet.bet}}</div>
                <div class = "sub-header">{{limboBet.typeOfBet}}</div>
            </div>
            <div class="col right-align-text">
                {{limboBet.odds}} <i (click) = "removeBet(i)"class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
          </div>
          <div class="row">
            <div class="col match-up">{{fullMatchUp}}</div>
          </div>
          <div class="row">
              <div class="col">
                  <input type="text" #box (keyup)="onKey([box.value, i])" placeholder={{limboBet.risk}} [(ngModel)] = 'limboBet.risk' >
              </div>
              <div class="col right-align-text">
                  <input type="text" placeholder={{limboBet.toWin}} class="col right-align-text">
              </div>
          </div>
    
      </div>
    </ng-container> 
  </div>
  <div class="container left"><app-recent-games-widget></app-recent-games-widget>
  </div>
</div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="activeModal.close('Close click')">Close</button>
      <button type="button" class="btn btn-outline-primary" (click)="EnterBet()">Enter Bet</button>
  </div>
 
    

</span>