.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;   
  }

  .betbutton{
    width: 150px;
    height: 25 px;
    
  }
  .bets{
    text-align: center;
  }
  .team{
    width: 50px;
    text-align: center;
  }
  .header{
    width:500px;
  }
  .smallHeader{
    padding-left: 0px;
    padding-right: 0px;
    width: 50px;

  }
  .headerColumn{
    width: 150px;
  }
  .betsStyle{
    width: 500px;
    margin-left: 155px;
    margin-right: 155px;
  }
  betTeamName{
    float: left;
    margin: 0px;
  }