table{
    font-family: 'Bungee Inline';
    border: 1px solid white;
    width: 900px;
    text-align: center;
    background-color: black;
    color:white;
  }

thead{
  border: 1px solid white;
  }

tbody{
  border: 1px solid white;
  height: 227px;
  display: block;
  overflow-y: auto;
  overflow-x: auto;
}

tr{
  border: 1px solid white;
}

.hole{
    color: greenyellow;
    vertical-align: middle;
    width: 45px;
  }  

.header-row{
  color: white;
  vertical-align: middle;
  width: 45px;
}  
th.player{
  width:132px;
}
td.player{
  width:116px;
}
.total{
    vertical-align: middle;
    width: 45px;
  }  
.borderless td, .borderless th {
    border: none;
  }
.scoreboard{
    display: block;
  }  
.place-bet-icon{
    float: right;
    margin-top: 10px;
  }  
.golf-scores{
    margin: 0 auto;
    display: block;
}  