<div class="golf-scores">
  <table  class="table table-sm borderless scoreboard">
    <thead>
      <tr class="round">
        <th scope="col" class="player">hole</th>
        <th scope="col" class = "header-row">1</th>
        <th scope="col" class = "header-row">2</th>
        <th scope="col" class = "header-row">3</th>
        <th scope="col" class = "header-row">4</th>
        <th scope="col" class = "header-row">5</th>
        <th scope="col" class = "header-row">6</th>
        <th scope="col" class = "header-row">7</th>
        <th scope="col" class = "header-row">8</th>
        <th scope="col" class = "header-row">9</th>
        <th scope="col" class = "header-row">10</th>
        <th scope="col" class = "header-row">11</th>
        <th scope="col" class = "header-row">12</th>
        <th scope="col" class = "header-row">13</th>
        <th scope="col" class = "header-row">14</th>
        <th scope="col" class = "header-row">15</th>
        <th scope="col" class = "header-row">16</th>
        <th scope="col" class = "header-row">17</th>
        <th scope="col" class = "header-row">18</th>
        <th scope="col" class="total">tot</th>
      </tr>
      <tr class="round">
        <th scope="col" class="player">par</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class = "header-row">0</th>
        <th scope="col" class="total">0</th>
      </tr>
    </thead>
    <tbody>
      <tr class = "round" *ngFor="let score of scores">
       <td class = "player">{{score.player}}</td>
       <td class = "hole">{{score.hole1score}}</td>
       <td class = "hole">{{score.hole2score}}</td>
       <td class = "hole">{{score.hole3score}}</td>
       <td class = "hole">{{score.hole4score}}</td>
       <td class = "hole">{{score.hole5score}}</td>
       <td class = "hole">{{score.hole6score}}</td>
       <td class = "hole">{{score.hole7score}}</td>
       <td class = "hole">{{score.hole8score}}</td>
       <td class = "hole">{{score.hole9score}}</td>
       <td class = "hole">{{score.hole10score}}</td>
       <td class = "hole">{{score.hole11score}}</td>
       <td class = "hole">{{score.hole12score}}</td>
       <td class = "hole">{{score.hole13score}}</td>
       <td class = "hole">{{score.hole14score}}</td>
       <td class = "hole">{{score.hole15score}}</td>
       <td class = "hole">{{score.hole16score}}</td>
       <td class = "hole">{{score.hole17score}}</td>
       <td class = "hole">{{score.hole18score}}</td>
       <td class = "total">{{score.totalscore}}</td>
      </tr>
    </tbody>
  </table>
</div>