<h1>Hello you {{name}}</h1>
<h1>Smush this face</h1>
<!-- Scoreboard building -->

<div class = "Away">
 <img src = "http://prod.static.giants.clubs.nfl.com/nfl-assets/img/gbl-ico-team/NYG/logos/home/large.png" height = "35" width = "35">
 <td class = "awaySquad">
  Giants
</td>
<td class = "quarter">
  1
</td>
<td class = "quarter">
  2
</td>
<td class = "quarter">
  3
</td>
<td class = "quarter">
  4
</td>
<div class = "record information">
  1-9 
</div>
</div>
<div class = "Home">
 <img src = "https://upload.wikimedia.org/wikipedia/en/thumb/c/c5/Atlanta_Falcons_logo.svg/1080px-Atlanta_Falcons_logo.svg.png" height = "35" width = "35">
 <td class = "awaySquad">
  Falcons
</td>
<td class = "quarter">
  1
</td>
<td class = "quarter">
  2
</td>
<td class = "quarter">
  3
</td>
<td class = "quarter">
  4
</td>
<div class = "record information">
  6-4 
</div>
</div>   
  
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Sup?
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Eat my ass, Taylor
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>