h1{
    background-color: lightblue
}
.Away{
    background-color: black;
    color:white
}
.Home{
    background-color: black;
    color:white
}
.Full Scoreboard{
    color: white

}
table{
    width: 25%
}

img{
    width: 20
}
td{
    width: 20
}
.quarter{
   font-size: 10 px; 
}
thead{
    background-color: black;
    color:white
}