<div class="scoreboard-picker">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary"[routerLink]="['/nfl-scores']">nfl</button>
    <button type="button" class="btn btn-secondary"[routerLink]="['/nba-scores']">nba</button>
    <button type="button" class="btn btn-secondary"[routerLink]="['/mlb-scores']">mlb</button>
    <button type="button" class="btn btn-secondary"[routerLink]="['/nhl-scores']">nhl</button>
    <button type="button" class="btn btn-secondary"[routerLink]="['/golf-scores']">golf</button>
    <button type="button" class="btn btn-secondary"[routerLink]="['/mlb-scores']">fav</button>
    <button type="button" class="btn btn-secondary"[routerLink]="['/wagers']">wagers</button>
  </div>
</div>
<router-outlet ></router-outlet>
