<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5>Hello, world! Full width Hero-unit header</h5>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
    </div>
  </div>
</section>
<!-- Scoreboard building -->
<div class="scoreboard-picker btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary"[routerLink]="['/nfl-scores']">nfl</button>
  <button type="button" class="btn btn-secondary"[routerLink]="['/nba-scores']">nba</button>
  <button type="button" class="btn btn-secondary"[routerLink]="['/mlb-scores']">mlb</button>
</div>
<router-outlet></router-outlet>
<router-outlet></router-outlet>
<router-outlet></router-outlet>


 