table{
  font-family: 'Bungee Inline'
}
h1{
  background-color: lightblue
}
.Away{
  background-color: black;
  color:white;
  vertical-align: center;
}
.Home{
  background-color: black;
  color:white
}
.Full Scoreboard{
  color: white

}
table{
  width: 25%;
}

thead{
  background-color: black;
  color:white
}
.image-container{
  width: 40px;
  height: 40px
}
.quarter{
  color: greenyellow;


}
.teamRecord{
  color: greenyellow;
  text-align: left;
  font-size: 10px
}
.Team-Name{
  color:mediumvioletred;
  text-align: left;

}

img{
  width: 35px;
  height: 35px;
}
.logo{
  padding-right: 1px;
}
.Image{
  width: 14%;
}
