table{
  font-family: 'Bungee Inline';
  border: 1px solid white;
}
h1{
  background-color: lightblue
}
.Away{
  background-color: black;
  color:white;
  vertical-align: center;
}
.Home{
  background-color: black;
  color:white
}
.Full Scoreboard{
  color: white

}
table{
  width: 25%;
}

thead{
  background-color: black;
  color:white
}
.image-container{
  width: 40px;
  height: 40px
}
.quarter{
  color: greenyellow;


}
.teamRecord{
  color: greenyellow;
  text-align: left;
  font-size: 10px
}
.Team-Name{
  color:mediumvioletred;
  text-align: left;

}

img{
  width: 35px;
  height: 35px;
}
.logo{
  padding-right: 1px;
}
.Image{
  width: 14%;
}
.btn-secondary{
  background-color: black;
  color: white;
  font-family: 'Bungee Inline';
  font-size: 10px;
}
.bgimage {
  width:100%;
  height:500px;
  background: url('https://wallpaperbrowse.com/media/images/4447990-abstract-wallpapers.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}

.container{
  background-color: black;
  color:white
}

.scoreboard-picker{
  vertical-align: top;
  margin: 10px auto;
  display: table;
}

body{
  background-color: #000000;
}