<table class="table table-sm" *ngIf="games && games.length">
  <thead>
    <tr>
      <th class = "league" scope="col">lg</th>
      <th class = "matchup" scope="col">matchup</th>
      <th class = "wager" scope="col">wager</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games" class="games" [style.color]="isWinning ? 'green' : 'red'">
      <td class = "league">{{game.league}}</td>
      <td class = "matchup">{{game.matchup}}</td>
      <td class = "wager">{{game.wager}}</td>
    </tr>
  </tbody>
</table>

<!--[style.color]="isWinning ? 'green' : 'red'"-->

