.table{
    width: 0px;
    min-height: 300px;
    text-align: center;
    font-family: 'Bungee Inline';
    border: 1px solid white;
    color: white;
    float: right;
  }
  
  .matchup{
    width: 65px;
    border: 1px solid white;
  }
  
  .wager{
    width: 60px;
    border: 1px solid white;
  }
  
  .league{
    border: 1px solid white;
    width: 30px;
  }

  